<div class="bbq-question-answer collapsibles-wrapper">
    
  <button type="button"
      class="label collapsible-trigger collapsible-trigger-btn collapsible-trigger-btn--borders collapsible--auto-height{% if force_open %} is-open{% endif %}" aria-controls="question-answer"
      {% if force_open %}aria-expanded="true"{% endif %}>
      Question &amp; Answer
      {%- render 'collapsible-icons' -%}
  </button>
  
  <div id="question-answer"
      class="collapsible-content collapsible-content--all{% if force_open %} is-open{% endif %}"
      {% if force_open %}style="height: auto;"{% endif %}>
      <div class="collapsible-content__inner rte">
        
        <div>
       {% render 'questions-answers'%}
        </div>
        
      </div>
    </div>
  </div>