[class*=color-scheme-]:not(.color-scheme-none).index-section{
  padding: 25px 0;
}
[class*=color-scheme-]:not(.color-scheme-none).index-section .theme-block{
  margin-bottom: 0;
}
.product-single__meta{
  padding-top:6px;
}
.product-single__title{
  line-height: 1.25em;
}
.sales-point .icon-phone{
  font-weight:600;
  font-size:18px;
}
.sales-point .icon-truck{
  color:#009900;
  font-weight:900;
}
/*Custom Variant Metafield*/
#custom-variant-meta{
  margin-bottom: -20px;
}
.custom-field-block {
  margin-bottom:10px;
}
.custom-field-block .variantTitle{
  font-weight:700;
}
.variant-wrapper+.variant-wrapper{
  margin-top:10px;
}
.custom-variant-btn{
  box-shadow: 0 0 0 1px #e8e8e1;
  border-radius: 1px;
  padding: 8px 25px;
  margin: 0 5px 5px 0;
  display: inline-block;
}
.custom-variant-btn:hover,
a[aria-current="activePage"] {
  box-shadow: 0 0 0 1px #000;
  background-color:#000;
  border-radius: 1px;
  color:#fff;
  transition: all .3s ease-in-out;
}
.openBox{
  box-shadow: 0 0 0 2px #000;
  border-radius: 1px;
  padding: 8px 25px;
  margin: 0 5px 5px 0;
  display: inline-block;
}
