:root {
  --accent:#090;
}
.accent-color{
  color: var(--accent);
}
[data-transitions=true].unloading .transition-body{
  animation:fade-in .3s ease forwards;
}
/*Gas type learn more */
.gastype-popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font: italic normal 12px Harmonia Sans;
}
.gastype-popup .gastype-popup-text {
    font: normal 12px Harmonia Sans;
    visibility: hidden;
    width: 400px;
    background-color: #fff;
    color: #333;
    text-align: left;
    border: 1px solid #a7a7a7;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.6);
}
.gastype-popup .gastype-popup-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 20%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
.gastype-popup .gastype-show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

/* Frequently Bought */
.frequently-bought-item{
  clear:both;
}
.frequently-bought-item .fbi-content-wrap{
  display:flex;
  justify-content: flex-start;
}
.fbi-inner-content{
  width: 25%;
  padding: 25px;
  /*margin-right:15px;
  background-color: #f8f8f8;*/
}
.fbi-inner-content:last-child{
  margin-right:0;
}
.fbi-inner-content .fbi_image{
  aspect-ratio:1/1;
}
.fbi-inner-content img{
  object-fit:contain;
  height:100%;
}
.fbi_price{
  font-weight:900;
  margin-bottom:0;
}
.clipped-text{
  width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.openbox-title{
  font-size: 22px;
  font-weight: 600;
  font-style:italic;
}
.openbox-price,
.specs-value{
 color: var(--accent);
 font-weight: 900;
}
.variant-input-wrap input[type=radio]:checked+label{
  box-shadow: 0 0 0 0 #fff;
  margin-top:-10px;
}
#bread-container{
  justify-content:flex-start !important;
  margin-top:-20px;
}
#bread-checkout-btn-product{
  width:400px !important;
  height:30px !important;
}
.bbq-prod-details-title{
  font-family:Harmonia Sans;
  font-size: 19px;
  font-weight:700;
}
/* bbq product details */
.bbq-question-answer{
  margin-top:-30px;
}
.bbq-description{
  height: 75px;
  visibility: visible;
  overflow: hidden;
  opacity: 1;
}
.specs-description{
  height: 115px;
  visibility: visible;
  overflow: hidden;
  opacity: 1;
}
/*end description & specs */

.section-header--flush{
  display:none;
}

.collection-hero{
  height:200px;
}
.bbq-text-green{
  color: var(--accent);
  font-weight: 900;
  display: contents;
}
.jdgm_bbq-product{
  text-align:center;
  margin-top:10px;
}
.jdgm-preview-badge{
  margin-bottom:10px;
}
.exclusive-savings{
  text-align:center;
}
.exclusive-savings p:first-child{
  color:#000;
  font-size:18px;
  font-weight:600;
}
.exclusive-savings p:nth-child(2),
.exclusive-savings a{
  font-weight:600;
}
.return-section {
  margin:0 0 40px;
  padding: 0;
}
.grid-product__title{
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.grid-product__vendor{
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.grid-product__price--current{
  font-size:16px;
}
#Recommendations-template--16537158713601__recommendations .new-grid .grid-item,
#VendorProducts-template--16537158713601__more-products-vendor .grid-item,
#RecentlyViewed-template--16537158713601__recently-viewed .new-grid .grid-item{
  flex: 0 0 25%;
  max-width: 100%;
}
.grid-product__price--original{
  font-size: 0.8em;
}
[class*=color-scheme-]:not(.color-scheme-none).index-section h2{
  margin-bottom:10px;
}
[class*=color-scheme-]:not(.color-scheme-none).index-section{
  padding: 10px 0;
}
[class*=color-scheme-]:not(.color-scheme-none).index-section .theme-block{
  margin-bottom: 0;
}
.product-single__meta{
  padding-top:6px;
}
.product-single__title{
  line-height: 1.25em;
}
.sales-point:last-child {
  margin-bottom:30px;
}
.sales-point .icon-phone{
  font-weight:600;
  font-size:18px;
}
/*.sales-point .icon-tag{
  text-align:center;
}*/
.sales-point .icon-truck{
  color:#009900;
  font-weight:900;
}
/*Custom Variant Metafield*/
.bbq-meta-block {
  margin-bottom:20px;
}
label[for=ProductPrice-template--16537158713601__main]{
  margin-bottom:-15px !important;
}
.product-single__vendor-sku,
#custom-variant-meta{
  /*margin-bottom: -20px;*/
}
.custom-field-block {
  margin-bottom:10px;
}
.custom-field-block .variantTitle{
  font-weight:700;
}
.variant-wrapper+.variant-wrapper{
  margin-top:10px;
}
.custom-variant-btn{
  box-shadow: 0 0 0 1px #e8e8e1;
  border-radius: 1px;
  padding: 8px 25px;
  /*margin: 0 5px 5px 0;*/
  display: inline-block;
}
.custom-variant-btn:hover,
a[aria-current="activePage"] {
  box-shadow: 0 0 0 1px #000;
  background-color:#000;
  border-radius: 1px;
  color:#fff;
  transition: all .3s ease-in-out;
}
.openBox{
  box-shadow: 0 0 0 2px #000;
  border-radius: 1px;
  padding: 8px 25px;
  margin: 0 5px 5px 0;
  display: inline-block;
}

/* Rondel CSS */

.variantTitle {
    font-weight: 700;
}

.variantSize {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.variantSize .custom-variant-btn {
    min-height: 90px;
    text-align: center;
    padding: 5px;
    font-size: 15px;
}

.bbq-size-short-desc {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-top: 10px;
}

/* Quantity Selector Beside Add To Cart Button */

.product-single__meta .product-single__form {
    position: relative;
}

.product-single__meta .add-to-cart {
    position: absolute;
    top: -70px;
    width: calc(100% - 85px);
    left: 85px;
}

.js-qty__num {
    height: 55px;
}

.shopify-payment-button {
    margin-top: 15px;
}

/* Add To Cart Popup */

.uh-selectbox {
    display: none;
}

.uh-product__title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    height: 65px;
}

.uh-popup__header {
    display: none;
}

.uh-scroll.uh-gallery-layout:before {
    content: 'Frequently Bought Together';
    padding: 10px 20px;
    display: block;
}

.uh-added {
    height: 150px;
}

.uh-added__bottom {
    height: 80px !important;
}

.uh-added__img img {
    max-width: 100px !important;
}

.product__quantity {
    margin-bottom: 15px;
    margin-top: -15px;
}

.uh-added__cart {
    position: absolute !important;
    top: 90px;
    left: 144px;
}

.sch-product.sch-upsell--added.uh-message.uh-message--success {
    margin: 0 0 10px 0 !important;
}

.uh-added .uh-added__bottom .uh-added__cart:after {
    display: none !important;
}

.uh-added__img {
    margin-top: 40px;
    margin-right: 10px;
}

.uh-added__title {
    max-width: 350px;
}

.uh-added__checkout {
    display: none;
}

.uh-quantity {
    display: none !important;
}

.uh-popup__footer {
    position: absolute;
    top: 32px;
    z-index: 10;
    right: 20px;
    border: none !important;
}

.uh-scroll-outer-parent {
    margin-top: -20px;
}

.product-single__meta .product-block {
    margin-bottom: 15px !important;
}

#low-monthly-payments {
    cursor: pointer;
}

#bread-checkout-btn-new {
    height: 22px;
    width: 185px;
}

.product-details-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-details-links a {
    padding: 0 5px;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 500;
}      

.product-details-links a:hover {
    opacity: .5;
    transition: .5s;
}

.lastinrow {
    display: none;
}

.bbq-product-links {
    display: grid;  
    grid-template-columns: 1fr 1fr 1fr;
}

.bbq-product-links a {
    font-size: 15px;
    font-style: italic;
    font-family: sans-serif;
}

.price_container {
    display: flex;
    column-gap: 10px;
    margin-top: 10px;
}

.product__quantity label {
    margin-top: -15px !important;
}

.product-price-column.exclusive-savings-col {
    text-align: center;
    border: 1px solid #cacaca;
    padding: 10px 20px;
    width: 65%;
}

.product-price-column.exclusive-savings-col p {
    margin: 0 !important;
}

.price_main_container {
    margin-right: 9px;
    width: 335px!important;
}

.price_free-shipping_text {
    color: #090;
    font-weight: 900;
    font-size: 22px;
}

@media only screen and (max-width: 400px){

  .site-header__logo a {
    font-size: 5vw;
  }
  
}

@media only screen and (max-width: 768px){

  .header-layout {
    display: grid;
    grid-template-columns: 5% 90% 5%;
  }
  
  .mobile-nav-trigger.left-trigger {
    display: block !important;
    padding-left: 0 !important;
  }

  .site-nav__icons .mobile-nav-trigger {
    display: none;
  }

  .header-item--logo {
    max-width: unset !important;
    word-break: unset;
    justify-content: center;
  }

  .clipped-text{
    width: 375px;
  }
  
}

.modal-add-cart-body{
  content: "";
  display: table;
  clear: both;
}
.modal-add-cart-product-info-holder{
  float: left;
  width: 100%;
}
.modal-add-cart-product-info-section{
  float: left;
  width: 50%;
}

.modal-action-section{
  float: left;
  width: 50%;
  content: "";
  display: table;
  padding-top: 10%;
}
.modal-add-cart-image-element{
  height:250px;
  width: 250px;
  margin-left: 25%;
}

.modal-action-section .btn{
  width: 100%;
  margin: 0px 10px 10px 0px;
}
#AddCartModal .modal__header{
  padding: 10px 40px 10px 40px;
  background:#D3D3D3
}