/*Custom Variant Metafield*/
.custom-variant-btn {
  border: 2px solid;
  border-radius: 3px;
  padding: 8px 25px;
  margin: 0 5px 5px 0;
  display: inline-block;
}

.sales-point .icon-phone{
  font-weight:600;
  font-size:18px;
}
.sales-point .icon-truck{
  color:#009900;
  font-weight:900;
}