/*Custom Variant Metafield*/
.custom-variant-btn{
  box-shadow: 0 0 0 1px #e8e8e1;
  border-radius: 3px;
  padding: 8px 25px;
  margin: 0 5px 5px 0;
  display: inline-block;
}
.custom-variant-btn:hover{
  background-color:#000;
  color:#fff;
}
a.active{
  background-color:#000;
  color:#fff;
}
.gas-var-type{
  float:left;
}
.sales-point .icon-phone{
  font-weight:600;
  font-size:18px;
}
.sales-point .icon-truck{
  color:#009900;
  font-weight:900;
}